<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cliente</title>
    </head>
    <body>
        <form id="formulario" action="http://localhost:3000/clientes/create" method="POST" enctype="application/json">
            <label for="idCliente">ID do Cliente:</label>
            <input type="text" id="id" name="id">
            <br>
            <label for="nomeCliente">Nome do Cliente:</label>
            <input type="text" id="nome" name="nome">
            <br>
            <label for="telCliente">Telefone do Cliente:</label>
            <input type="text" id="telefone" name="telefone">
            <br>
            <label for="emailCliente">E-mail do Cliente:</label>
            <input type="email" id="email" name="email">
            <br>
            <input id="send" type="submit" value="Enviar">
        </form>
    </body>

</html>