<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro Venda</title>
    <link rel="stylesheet" href="../app.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h1>Cadastro de Venda</h1>
    <form id="formulario" action="http://localhost:3000/venda/create" method="POST" enctype="application/json">
        <div class="form-group">
        <label for="fabricante">ID:</label>
        <input type="text" id="id" name="id" class="form-control">
        <br>
        </div>
        <div class="form-group">
        <label for="fabricante">Nome do Produto:</label>
        <input type="text" id="nomeProduto" name="nomeProduto" class="form-control">
        <br>
        </div>
        <div class="form-group">
        <label for="modelo">Preço:</label>
        <input type="text" id="precoVenda" name="precoVenda" class="form-control">
        <br>
        </div>
        <div class="form-group">
        <label for="preco">Nome do Cliente:</label>
        <input type="number" id="vendaCliente" name="vendaCliente" class="form-control">
        <br>
        </div>
        <br><br>
        <input id="send" type="submit" value="Enviar" class="btn btn-primary">
    </form>
</body>
</html>